NameVirtualHost *:{{ httpd_port }}
<VirtualHost *:{{ httpd_port }}>
   ServerName {{ httpd_servername }}
   DocumentRoot "{{ httpd_configuration[ansible_distribution]['data_directory'] }}"
   Redirect permanent / https://{{ httpd_servername }}
</VirtualHost>
