{{ ansible_managed | comment }}
<VirtualHost *:{{ httpd_port }}>
   ServerName {{ httpd_servername }}
   DocumentRoot "{{ httpd_data_directory }}"
   RewriteEngine On
   RewriteCond %{HTTPS} !=on
   RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
</VirtualHost>
