{{ ansible_managed | comment }}
LoadModule ssl_module modules/mod_ssl.so

Listen {{ httpd_ssl_port }}
<VirtualHost *:{{ httpd_ssl_port }}>
    ServerName {{ httpd_ssl_servername }}
    SSLEngine on
    SSLCertificateFile "{{ httpd_configuration[ansible_distribution]['config_directory'] }}/ssl/{{ httpd_ssl_servername }}.crt"
    SSLCertificateKeyFile "{{ httpd_configuration[ansible_distribution]['config_directory'] }}/ssl/{{ httpd_ssl_servername }}.key"
</VirtualHost>
